<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            Mi menú
        </mat-toolbar>

        <mat-nav-list role="list">
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>list</mat-icon>
                <span> Listado de héroes</span>
            </a>
            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span> Agregar héroe</span>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span> Buscar héroe</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span  class="spacer"></span>
        <mat-label><small>{{auth.usuario}}</small></mat-label>
        <button mat-button (click)="logout()">
            Logout
            <mat-icon>logout</mat-icon>            
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>